Certificate.json
{
  "name": "Certificate",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Freelancing Seminar Registration",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email Address",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Phone Number",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "Thank you for registering! You will receive a confirmation email with your certificate shortly."
            }
          }
        }
      },
      "id": "30603102-3b3e-4cb9-8290-ca4d5ca140e4",
      "name": "Student Registration Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        9008,
        992
      ],
      "webhookId": "fe9deca0-64cc-4bfa-a3bf-29180d7294f2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "seminarName",
              "value": "Freelancing Seminar",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "certificateTemplate",
              "value": "Certificate of Participation",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "aa51eb41-f822-4b82-9cf1-efd06a8a7ff0",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9232,
        992
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1x3Nhp6hlQP0afH986QSh9OKJ7kfm20cXB2L6g19Oxic",
          "mode": "list",
          "cachedResultName": "student data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x3Nhp6hlQP0afH986QSh9OKJ7kfm20cXB2L6g19Oxic/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x3Nhp6hlQP0afH986QSh9OKJ7kfm20cXB2L6g19Oxic/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full Name": "={{ $json['Full Name'] }}",
            "email": "={{ $json['Email Address'] }}",
            "phone number": "={{ $json['Phone Number'] }}"
          },
          "matchingColumns": [
            "Full Name"
          ],
          "schema": [
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone number",
              "displayName": "phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d0dd3de0-9b43-4feb-9209-45ead39d4261",
      "name": "Add Student to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        9456,
        992
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5LKF4D1bzCx7MvNl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Full Name'] }}",
        "options": {
          "systemMessage": "You are a helpful assistant that processes student registration data. Extract and format the student name cleanly for certificate generation. Return only the formatted name without any additional text or explanation."
        }
      },
      "id": "a95790de-0846-42ba-9ebd-72029bdd0ad6",
      "name": "AI Agent - Process Student Data",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        9680,
        992
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "c654a707-8072-4e95-9857-be542d56bcb4",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        9552,
        1232
      ],
      "credentials": {
        "openAiApi": {
          "id": "AMO4pBG9jLq3FRBp",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get student data from previous nodes\nconst studentName = $('AI Agent - Process Student Data').first().json.output || 'Student';\nconst seminarTitle = $('Workflow Configuration').first().json.seminarName || 'Professional Development Seminar';\nconst date = new Date().toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' });\n\n// Create SVG certificate\nconst svgWidth = 1200;\nconst svgHeight = 900;\n\nconst svgContent = `<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<svg width=\"${svgWidth}\" height=\"${svgHeight}\" xmlns=\"http://www.w3.org/2000/svg\">\n  <!-- Gradient Background -->\n  <defs>\n    <linearGradient id=\"bgGradient\" x1=\"0%\" y1=\"0%\" x2=\"0%\" y2=\"100%\">\n      <stop offset=\"0%\" style=\"stop-color:#1e3c72;stop-opacity:1\" />\n      <stop offset=\"50%\" style=\"stop-color:#2a5298;stop-opacity:1\" />\n      <stop offset=\"100%\" style=\"stop-color:#7e22ce;stop-opacity:1\" />\n    </linearGradient>\n  </defs>\n  \n  <!-- Background -->\n  <rect width=\"${svgWidth}\" height=\"${svgHeight}\" fill=\"url(#bgGradient)\"/>\n  \n  <!-- White Certificate Container -->\n  <rect x=\"100\" y=\"100\" width=\"1000\" height=\"700\" fill=\"#ffffff\"/>\n  \n  <!-- Gold Border -->\n  <rect x=\"100\" y=\"100\" width=\"1000\" height=\"700\" fill=\"none\" stroke=\"#d4af37\" stroke-width=\"8\"/>\n  \n  <!-- Inner Border -->\n  <rect x=\"120\" y=\"120\" width=\"960\" height=\"660\" fill=\"none\" stroke=\"#d4af37\" stroke-width=\"3\"/>\n  \n  <!-- Corner Ornaments -->\n  <polyline points=\"140,180 140,140 180,140\" fill=\"none\" stroke=\"#d4af37\" stroke-width=\"3\"/>\n  <polyline points=\"1020,140 1060,140 1060,180\" fill=\"none\" stroke=\"#d4af37\" stroke-width=\"3\"/>\n  <polyline points=\"140,720 140,760 180,760\" fill=\"none\" stroke=\"#d4af37\" stroke-width=\"3\"/>\n  <polyline points=\"1020,760 1060,760 1060,720\" fill=\"none\" stroke=\"#d4af37\" stroke-width=\"3\"/>\n  \n  <!-- Star Ornament -->\n  <polygon points=\"600,170 610,195 637,200 615,218 620,245 600,230 580,245 585,218 563,200 590,195\" fill=\"#d4af37\"/>\n  \n  <!-- Certificate Title -->\n  <text x=\"600\" y=\"280\" font-family=\"serif\" font-size=\"72\" font-weight=\"bold\" fill=\"#1e3c72\" text-anchor=\"middle\">CERTIFICATE</text>\n  \n  <!-- Subtitle -->\n  <text x=\"600\" y=\"315\" font-family=\"sans-serif\" font-size=\"24\" fill=\"#6b7280\" text-anchor=\"middle\">OF COMPLETION</text>\n  \n  <!-- Divider Line -->\n  <line x1=\"450\" y1=\"340\" x2=\"750\" y2=\"340\" stroke=\"#d4af37\" stroke-width=\"2\"/>\n  \n  <!-- Presented To Text -->\n  <text x=\"600\" y=\"385\" font-family=\"sans-serif\" font-size=\"20\" fill=\"#4b5563\" text-anchor=\"middle\">This certificate is proudly presented to</text>\n  \n  <!-- Student Name -->\n  <text x=\"600\" y=\"445\" font-family=\"serif\" font-size=\"48\" font-weight=\"bold\" fill=\"#1e3c72\" text-anchor=\"middle\">${studentName}</text>\n  \n  <!-- Name Underline -->\n  <line x1=\"400\" y1=\"460\" x2=\"800\" y2=\"460\" stroke=\"#d4af37\" stroke-width=\"3\"/>\n  \n  <!-- Completion Text -->\n  <text x=\"600\" y=\"510\" font-family=\"sans-serif\" font-size=\"18\" fill=\"#4b5563\" text-anchor=\"middle\">For successfully completing and demonstrating excellence in</text>\n  \n  <!-- Seminar Title -->\n  <text x=\"600\" y=\"560\" font-family=\"serif\" font-size=\"32\" font-weight=\"bold\" fill=\"#7e22ce\" text-anchor=\"middle\">${seminarTitle}</text>\n  \n  <!-- Commendation Text -->\n  <text x=\"600\" y=\"605\" font-family=\"sans-serif\" font-size=\"18\" fill=\"#4b5563\" text-anchor=\"middle\">We commend your dedication to professional development</text>\n  <text x=\"600\" y=\"630\" font-family=\"sans-serif\" font-size=\"18\" fill=\"#4b5563\" text-anchor=\"middle\">and continuous learning.</text>\n  \n  <!-- Footer Divider -->\n  <line x1=\"150\" y1=\"670\" x2=\"1050\" y2=\"670\" stroke=\"#e5e7eb\" stroke-width=\"2\"/>\n  \n  <!-- Date Section -->\n  <text x=\"300\" y=\"710\" font-family=\"sans-serif\" font-size=\"14\" fill=\"#9ca3af\" text-anchor=\"middle\">DATE OF COMPLETION</text>\n  <text x=\"300\" y=\"740\" font-family=\"sans-serif\" font-size=\"18\" font-weight=\"bold\" fill=\"#1e3c72\" text-anchor=\"middle\">${date}</text>\n  \n  <!-- Seal -->\n  <circle cx=\"600\" cy=\"725\" r=\"40\" fill=\"#d4af37\" stroke=\"#1e3c72\" stroke-width=\"3\"/>\n  <text x=\"600\" y=\"720\" font-family=\"sans-serif\" font-size=\"12\" font-weight=\"bold\" fill=\"#1e3c72\" text-anchor=\"middle\">OFFICIAL</text>\n  <text x=\"600\" y=\"735\" font-family=\"sans-serif\" font-size=\"12\" font-weight=\"bold\" fill=\"#1e3c72\" text-anchor=\"middle\">SEAL</text>\n  \n  <!-- Signature Line -->\n  <line x1=\"800\" y1=\"720\" x2=\"1000\" y2=\"720\" stroke=\"#1e3c72\" stroke-width=\"2\"/>\n  <text x=\"900\" y=\"745\" font-family=\"sans-serif\" font-size=\"14\" fill=\"#9ca3af\" text-anchor=\"middle\">AUTHORIZED SIGNATURE</text>\n</svg>`;\n\n// Convert SVG string to buffer\nconst svgBuffer = Buffer.from(svgContent, 'utf-8');\n\n// Create safe filename\nconst safeStudentName = studentName.replace(/\\s+/g, '_').replace(/[^a-zA-Z0-9_-]/g, '');\nconst filename = `Certificate_${safeStudentName}.svg`;\n\n// Return binary data\nreturn [\n  {\n    binary: {\n      certificate: await this.helpers.prepareBinaryData(\n        svgBuffer,\n        filename,\n        'image/svg+xml'\n      )\n    },\n    json: {\n      studentName: studentName,\n      seminarTitle: seminarTitle,\n      date: date,\n      filename: filename\n    }\n  }\n];"
      },
      "id": "c7cec00a-1f38-4bae-9747-14575173fcea",
      "name": "Generate Certificate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10032,
        992
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Add Student to Google Sheets').item.json.email }}",
        "subject": "Thank You for Joining Our Freelancing Seminar!",
        "message": "=<p>Dear {{ $('Add Student to Google Sheets').item.json['Full Name'] }} ,</p>\n\n<p>Thank you for registering for our Freelancing Seminar! We're excited to have you join us.</p>\n\n<p>Please find your registration certificate attached to this email.</p>\n\n<p>We look forward to seeing you at the seminar!</p>\n\n<p>Best regards,<br>The Seminar Team</p>",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "certificate"
              }
            ]
          }
        }
      },
      "id": "f9aaa919-2b74-40d3-8003-91aa49970bfc",
      "name": "Send Thank You Email with Certificate",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        10256,
        992
      ],
      "webhookId": "1dc78ceb-ae7d-4e14-ab98-280e766c5535",
      "credentials": {
        "gmailOAuth2": {
          "id": "MUm76pYva7GkbYXK",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Student Registration Form": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Add Student to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Student to Google Sheets": {
      "main": [
        [
          {
            "node": "AI Agent - Process Student Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Process Student Data",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Process Student Data": {
      "main": [
        [
          {
            "node": "Generate Certificate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Certificate": {
      "main": [
        [
          {
            "node": "Send Thank You Email with Certificate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1c9cd4a2-d0e5-414e-8974-e85f4328b664",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "53c0541b42b3209e5d4396a62c19d0d9758b2cf2cd23d6f62bb93a9a2817a90a"
  },
  "id": "kUk3h21ChyzXrnCa",
  "tags": []
}